@import '@/app/globals';

.search-input {
    width: 251px;
    height: 36px;
    padding: 4px 12px;

    box-sizing: border-box;
    border: 1px solid $border-input;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000D;

    color: $text-muted-foreground;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.search-button {
    height: 36px;
    padding: 8px 16px;

    background-color: $bg-primary;
    border: 0px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000D;

    color: $text-primary-foreground;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}