.sub-heading-and-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    height: 40px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.pagination {
    display: flex;
    gap: 16px;
}