.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero-text h1 {
    font-size: 60px;
    line-height: 78px;
    vertical-align: bottom;
    margin: 0;
    letter-spacing: 0%;
}